$atsui-paginator-height: 56px;
$atsui-paginator-padding: 0 8px;

$atsui-paginator-page-size-margin-right: 8px;

$atsui-paginator-items-per-page-label-margin: 0 4px;
$atsui-paginator-selector-margin: 6px 4px 0 4px;
$atsui-paginator-selector-trigger-width: 56px;
$atsui-paginator-selector-trigger-outline-width: 64px;
$atsui-paginator-selector-trigger-fill-width: 64px;

/** @deprecated Use `$atsui-paginator-selector-trigger-width` instead. @breaking-change 8.0.0 */
$atsui-paginator-selector-trigger-min-width: $atsui-paginator-selector-trigger-width;

/** @deprecated Unused. To be removed */
$atsui-paginator-range-actions-min-height: 48px;

$atsui-paginator-range-label-margin: 0 32px 0 24px;

$atsui-paginator-button-margin: 8px;
$atsui-paginator-button-icon-height: 8px;
$atsui-paginator-button-icon-width: 8px;

$atsui-paginator-button-increment-icon-margin: 12px;
$atsui-paginator-button-decrement-icon-margin: 16px;

$atsui-paginator-button-first-last-icon-width: 14px;

$atsui-paginator-button-first-icon-margin: 3px;
$atsui-paginator-button-last-icon-margin: 15px;


$atsui-paginator-button-first-decrement-icon-margin: 21px;
$atsui-paginator-button-last-increment-icon-margin: 9px;


.atsui-paginator {
  display: block;
}

// Note: this wrapper element is only used to get the flexbox vertical centering to work
// with the `min-height` on IE11. It can be removed if we drop support for IE.
.atsui-paginator-outer-container {
  display: flex;
}

.atsui-paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: $atsui-paginator-height;
  padding: $atsui-paginator-padding;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.atsui-paginator-page-size {
  display: flex;
  align-items: baseline;
  margin-right: $atsui-paginator-page-size-margin-right;

  [dir='rtl'] & {
    margin-right: 0;
    margin-left: $atsui-paginator-page-size-margin-right;
  }
}

.atsui-paginator-page-size-label {
  margin: $atsui-paginator-items-per-page-label-margin;
}

.atsui-paginator-page-size-select {
  margin: $atsui-paginator-selector-margin;
  width: $atsui-paginator-selector-trigger-width;

  &.atsui-form-field-appearance-outline {
    width: $atsui-paginator-selector-trigger-outline-width;
  }

  &.atsui-form-field-appearance-fill {
    width: $atsui-paginator-selector-trigger-fill-width;
  }
}

.atsui-paginator-range-label {
  margin: $atsui-paginator-range-label-margin;
}

.atsui-paginator-range-actions {
  display: flex;
  align-items: center;
}

.atsui-paginator-icon {
  width: $atsui-paginator-height / 2;
  fill: currentColor;

  [dir='rtl'] & {
    transform: rotate(180deg);
  }
}